ServiceClient/Service References/WcfWithoutConfig/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_ConvertString_InputMessage">
    <wsdl:part name="parameters" element="tns:ConvertString" />
  </wsdl:message>
  <wsdl:message name="IMyService_ConvertString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertStringResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_DoLongWork10Second_InputMessage">
    <wsdl:part name="parameters" element="tns:DoLongWork10Second" />
  </wsdl:message>
  <wsdl:message name="IMyService_DoLongWork10Second_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoLongWork10SecondResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="ConvertString">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/ConvertString" message="tns:IMyService_ConvertString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/ConvertStringResponse" message="tns:IMyService_ConvertString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoLongWork10Second">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/DoLongWork10Second" message="tns:IMyService_DoLongWork10Second_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/DoLongWork10SecondResponse" message="tns:IMyService_DoLongWork10Second_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertString">
      <soap:operation soapAction="http://tempuri.org/IMyService/ConvertString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoLongWork10Second">
      <soap:operation soapAction="http://tempuri.org/IMyService/DoLongWork10Second" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://127.0.0.1:12345/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>